/* Known usages:
   http://m.afl.com.au/womens/get-involved */

.womens-state-contacts {
  width: 100%;
  line-height: 1.5;
  font-family: AntennaCondMedium, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 11px;
}
.womens-state-contacts a {
  color: #000;
}
.womens-state-contacts td {
  padding: 0;
}
.womens-state-contacts img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 0px;
  height: 80px;
  width: 80px;
}
.womens-state-contacts tr:nth-child(2n+1) {
  background-color: #F4F4F4;
}