div, body, html, table {
	border: 0;
	margin: 0;
	padding: 0;
	border-collapse: collapse;
}

/*********************************


Top Level Containers


**********************************/


.womensu18s-wrapper .row {
	max-width: 940px;
	display: block;
}

.womensu18s-wrapper .womensu18s-player {
	max-width: 300px;
	border: 1px solid #E9ECED;
	border-radius: 3px;
	display: inline-block;
	margin-top: 20px;
	margin-right: 13.5px;
	vertical-align: top;
}

.womensu18s-wrapper .row .womensu18s-player:last-child {
  margin-right: 0px;
}

.womensu18s-wrapper .row .womensu18s-player:hover {
  cursor: pointer;
}

/*********************************


Player Name & Info Section


**********************************/

.womensu18s-wrapper .womensu18s-player img {
	display: block;
	margin: 0;
}



.womensu18s-wrapper .playername {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/WAS #de3406+0,d01604+100 */
	background: #ff5e42; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #ff5e42 0%, #ff5e42 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  #ff5e42 0%,#ff5e42 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  #ff5e42 0%,#ff5e42 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff5e42', endColorstr='#ff5e42',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	color: #ffffff;
	display: block;
	font-family: "titillium web";
	font-size: 22px;
	margin: 0;
	min-height: 32px;
	padding-top: 4px;
	text-align: center;
	width: 100%;
}


.womensu18s-wrapper .playername span {
	display: inline-block;
	vertical-align: middle;
}


.womensu18s-wrapper .playerinfo {
  background: #fff none repeat scroll 0 0;
  border-bottom: 1px solid #dcdcdc;
  text-align: center;
}

.womensu18s-wrapper .playerinfo .playerinfo-container {
  display: inline-block;
  margin: 10px;
  color: #3d4143;
}


.womensu18s-wrapper .playerinfo-container span {
  display: block;
}

.womensu18s-wrapper .playerinfo-container span:first-of-type {
  color: #3D4143;
  font-size: 11px;
}

.womensu18s-wrapper .playerinfo-container span:last-of-type {
  color: #3D4143;
  font-size: 13px;
  font-weight: 600;
}

.player-from {
  background: #f1f4f6 none repeat scroll 0 0;
  box-sizing: border-box;
  color: #000000;
  font-size: 13px;
  font-weight: 600;
  padding: 10px 5px;
  text-align: center;
}

.player span:first-child {
  margin-right: 15px;
}

/*********************************


Bio Section


**********************************/

.womensu18s-wrapper .womensu18s-player .bio {
  box-sizing: border-box;
  padding: 5px 10px 20px;
  display: none;
}

.womensu18s-wrapper .womensu18s-player .bio p {
  color: #292929;
  font-family: titillium web;
  font-size: 14px;
  line-height: 21px;
}


/*********************************


Button & Toggle


**********************************/

.togglebtn {
  background: #f3f3f3 none repeat scroll 0 0;
  box-sizing: border-box;
  color: #000000;
  display: block;
  font-size: 13px;
  font-weight: 600;
  padding: 6px;
  text-align: center;
  transition: all 0.3s ease 0s;
}

.togglebtn:hover {
  background: #e2e2e2 none repeat scroll 0 0;
  cursor: pointer;
}




/*********************************


Mobile Media Queries


**********************************/

@media screen and (max-width: 620px) {
	.womensu18s-wrapper .womensu18s-player {
		width: 100%;
	}
	.womensu18s-player .row {
		width: 100%;
	}

	.womensu18s-wrapper .womensu18s-player {
		max-width: 100%;
		min-width: 100%;
	}

	.womensu18s-wrapper .womensu18s-player img {
		min-width: 100%;
	}
}