/* Known usages:
   http://afl.com.au/womens/u18s/ */

.division-table-teams {
	width: 100%;
	line-height: 1.5;
font-family: AntennaCondMedium, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 12px;
}
.division-table-teams a {
  color: #653a89;
}
.division-table-teams td,
.division-table-teams th {
  padding: 0;
}
.division-table-teams img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}

/* Known usages:
   http://afl.com.au/womens/u18s */

.division-table {
	width: 100%;
	line-height: 1.5;
font-family: AntennaCondMedium, "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 11px;
}
.division-table a {
  color: #000;
}
.division-table td,
.division-table th {
  padding: 0;
}
.division-table img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 7px;
}
.division-table tr:nth-child(2n+1) {
  background-color: #F4F4F4;
}